<h2 ng-show="showRepo" id="page-anchor-commits">Commits</h2>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="form-inline">
			<div class="form-group">
				Display: 
			</div>
			<div class="form-group">
				<select type="text" class="form-control" ng-model="display.type">
					<option value="historical">Historical Data</option>
					<option value="predictive">Predictive Data</option>
				</select>
			</div>
			<div class="form-group" ng-show="display.type == 'historical'">
				<select type="text" class="form-control" ng-model="ms_filter">
					<option value="" selected>Metric Risks</option>
					<option value="1">High Risk</option>
					<option value="0">Possible Risk</option>
					<option value="-1">Low Risk</option>
				</select>
			</div>
			<div class="form-group" ng-show="display.type == 'predictive'">
				<select type="text" class="form-control" ng-model="display.sortByGlm">
					<option value="no">Sort by Time</option>
					<option value="yes">Sort by Risk-level</option>
				</select>
			</div>
			<div class="form-group">
				<select type="text" class="form-control" ng-model="show_commit_body" ng-options="opt.value as opt.label for opt in show_commit_body_options">
				</select>
			</div>
			<div class="form-group">
				<select type="text" class="form-control" ng-model="pageSize">
					<option value="5">5 per page</option>
					<option value="10">10 per page</option>
					<option value="20">20 per page</option>
					<option value="50">50 per page</option>
					<option value="100">100 per page</option>
				</select>
			</div>
			<button type="button" class="btn btn-default" ng-click="showFilterCommits = !showFilterCommits">Filter <i class="fa fa-caret-down" ng-class="{'fa-caret-up':showFilterCommits}"></i></button>
			<div class="pull-right" commit-pagination></div>
		</div>
		<div class="row" ng-show="showFilterCommits">
			<div class="vert-spacer-sm"></div>
			<div class="col-md-12 form-inline">
				<div class="form-group">
					Filter: 
				</div>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="search.commit_hash" placeholder="Commit hash">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="search.commit_message" placeholder="Commit message">
				</div>
				<div class="form-group">
					<select type="text" class="form-control" ng-model="search.classification">
						<option value="">Classification</option>
						<option>Corrective</option>
						<option>Feature addition</option>
						<option>Non-functional</option>
						<option>Merge</option>
						<option>Perfective</option>
						<option>Preventative</option>
					</select>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="search.author_email" placeholder="Author email">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div ng-repeat="commit in commits | startFrom:currentPage*pageSize | limitTo:pageSize">
			<div class="panel commit-panel panel-default" ng-class="{'panel-danger':((commit.contains_bug && display.type == 'historical') || (commit.glm_probability > .5 && display.type == 'predictive')), 'collapsed': !show_commit_body}">
				<div class="panel-heading">
					<div class="pull-right">{{commit.author_name}} on {{commit.author_date | timeFormat_calendar}}</div>
					<h3 class="panel-title" ng-click="show_commit_body = !show_commit_body">
						<span ng-switch="display.type">
							<span ng-switch-when="historical"><span ng-if="commit.contains_bug">Possible Bug-inducing: </span></span>
							<span ng-switch-when="predictive"><span class="label label-success" ng-class="{'label-danger':commit.glm_probability > .5,'label-warning':commit.glm_probability > .25}">{{commit.glm_probability | decimalToPercent}}</span></span>
						</span>
						<span ng-show="commit.classification != 'None'" class="label label-default">{{commit.classification}}</span> {{commit.commit_hash.substr(0, 10)}} <em>{{commit.commit_message.substr(0, 60)}}...</em>
					</h3>
				</div>
				<div class="panel-body" ng-if="show_commit_body">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div ng-switch="display.type">
									<div ng-switch-when="historical">
										<div class="col-md-6">
											<div metric-summary="commit.metric_summary">
											</div>
										</div>
										<div class="col-md-6">
											<div class="list-group metric-summary-legend" ng-init="mtotal = commit.metric_summary.below + commit.metric_summary.between + commit.metric_summary.above">
												<a class="list-group-item list-group-item-primary" href="#" ng-click="ms_filter = false">
													All Categories
												</a>
												<a class="list-group-item list-group-item-danger" href="#" ng-click="ms_filter = 1" ng-class="{'active':ms_filter == 1}">
													{{commit.metric_summary.above | percentof: mtotal}}% High Risk
												</a>
												<a class="list-group-item list-group-item-warning" href="#" ng-click="ms_filter = 0" ng-class="{'active':ms_filter === 0 || ms_filter === '0'}">
													{{commit.metric_summary.between | percentof: mtotal}}% Possible Risk
												</a>
												<a class="list-group-item list-group-item-success" href="#" ng-click="ms_filter = -1" ng-class="{'active':ms_filter == -1}">
													{{commit.metric_summary.below | percentof: mtotal}}% Low Risk
												</a>
											</div>
										</div>
									</div>
									<div class="container-fluid" ng-switch-when="predictive">
										<div class="alert glm_probability_main alert-success" ng-class="{'alert-danger':commit.glm_probability > .5,'alert-warning':commit.glm_probability > .25}">{{commit.glm_probability | decimalToPercent}}</span></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="well cont-max-150" ng-bind="commit.commit_message"></div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 cont-max-150">
									Updated Files:
									<span class="label label-primary label-inline" ng-repeat="file in commit.fileschanged">{{file}}</span>
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="row">
								<div ng-repeat="key in metricKeys | sortBySignificance:repo.metrics[display.metricKey]" ng-if="(ms_filter===false || (!ms_filter && ms_filter !== 0))?true:(commit[key].threshold == ms_filter)" class="inline-col col-md-2" metric="commit[key]" display="display">{{metricValues[key] + (repo.metrics[display.metricKey][key + '_sig']?'*':'')}}</div>
							</div>
						</div>
					</div>
					<form ng-show="user.status.authenticated" class="form-inline pull-right" name="commit.feedback" ng-submit="submitFeedback(commit)">
						<div ng-show="show_commit_feedback"> 
							<div class="form-group">	
								<input type="text" class="form-control" ng-model="commit.feedback.comment" placeholder="Was this helpful?">
							</div>
							<div class="form-group">
								<div class="btn-group">
									<input type="hidden" class="form-control" required ng-model="commit.feedback.score">
									<button type="button" class="btn btn-default" ng-click="commit.feedback.score = 1" ng-class="{'btn-success':commit.feedback.score > 0}"><i class="fa fa-thumbs-up"></i></button>
									<button type="button" class="btn btn-default" ng-click="commit.feedback.score = -1" ng-class="{'btn-danger':commit.feedback.score < 0}"><i class="fa fa-thumbs-down"></i></button>
								</div>
							</div>
						
							<div class="form-group">	
								<button class="btn btn-primary" type="submit" ng-disabled="commit.feedback.$invalid">Submit Feedback</button>
							</div>
						</div>
						<div class="form-group" ng-show="!show_commit_feedback">
							<button class="btn btn-primary" type="button" ng-click="show_commit_feedback = !show_commit_feedback">Feedback?</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div ng-if="commits.length == 0">
			<div class="alert alert-main alert-warning">No Results</div>
		</div>
	</div>
</div>
<div commit-pagination class="bottom-pagination-container center"></div>