<div id="content" class="container" ng-init="repo = <%=repo%>">
<div class="row">
  <div class="col-md-8">
  <h1>{{repo.title}}:</h1>
  <h3>{{result.name}}</h3>
  </div>
  <div class="col-md-4">
  <form role="form" class="">
  	<div class="form-group">
  	<input type="text" style="margin-top:20px;" class="form-control" ng-model="search" placeholder="Filter commits">
  	</div>
  </form>
  </div>
 </div>
 <div class="row">
  <div class="col-md-12">
  <div ng-repeat="commit in repo.commits | filter:search">
  <div class="panel panel-default">
  <div class="panel-heading">
  <div class="pull-left">{{commit.date}}:&nbsp;</div>{{commit.id}}
  </div>
  <div class="panel-body">
  {{commit.message}}
  </div>
	</div>
  </div>
  </div>
</div>
</div>
