<div class="page-navbar">
	<div class="container">
		<div class="navbar-header">
			<div class="page-title">
				<h1>
					<a ng-attr-href="/repo/{{repo.name}}">{{repo.name}}</a> <small ng-if="!repo.listed">(unlisted)</small>
				</h1>
			</div>
		</div>
			<ul class="nav navbar-nav animate-fade" ng-show="showRepo">
				<li ui-sref-active="active"><a ui-sref="repo.overview">Overview</a></li>
                <li ui-sref-active="active"><a ui-sref="repo.commits">Commits</a></li>
				<li ui-sref-active="active"><a ui-sref="repo.options">Options</a></li>
			</ul>
		<div class="navbar-right">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="clone_url" class="control-label col-xs-6">Clone URL:</label>
					<div class="col-xs-6">
						<input id="clone_url" class="form-control" type="text" value="{{repo.url}}" readonly="true" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container page-body">
	<div ui-view autoscroll="false" class="animate-fade"></div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Legend</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<div class="center"><strong>Historical Values:</strong><br> <span class="bg-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="text-success">&lt; low risk average</span> <span class="bg-warning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="text-warning">Between high risk and low risk averages</span> <span class="bg-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="text-danger">&gt; high risk average</span><br> "*" - Metric is historically significant</div>
				</div>
				<div class="col-md-6">
					<div class="center"><strong>Predictive Values:</strong><br> <span class="bg-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="text-success">&lt; 25% chance</span> <span class="bg-warning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="text-warning">Between 25% and 50% chance</span> <span class="bg-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="text-danger"> &gt; 50% chance</span><br> "*" - Metric is predictively significant</div>
				</div>
			</div>
		</div>
	</div>
</div>