<div class="page-navbar">
	<div class="container">
		<div class="navbar-header">
			<div class="page-title">
				<h1>
					<a ng-attr-href="/repo/{{repo.name}}">{{repo.name}}</a> <small ng-if="!repo.listed">Unlisted</small>
				</h1>
			</div>
		</div>
			<ul class="nav navbar-nav animate-fade" ng-show="showRepo">
				<li ui-sref-active="active"><a ui-sref="repo.overview">Overview</a></li>
				<li ui-sref-active="active"><a ui-sref="repo.commits">Commits</a></li>
				<li ui-sref-active="active"><a ui-sref="repo.options">Options</a></li>
			</ul>
		<div class="navbar-right">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="clone_url" class="control-label col-xs-6">Clone URL:</label>
					<div class="col-xs-6">
						<input id="clone_url" class="form-control" type="text" value="{{repo.url}}" readonly="true" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container page-body">
	<div ui-view autoscroll="false" class="animate-fade"></div>
</div>