<div id="content" class="container">
<div class="row">
  <div class="col-md-6">
  <h1>Repositories</h1>
    <div class="row">
    <div class="panel col-md-12" ng-repeat="item in items"><h3><a href="/repo/{{item.name}}">{{item.name}}</a></h3></div>
  </div>
  </div>
  <div class="col-md-6">
  </div>
</div>
</div>
