<h1>Repositories</h1>
<div class="row">
	<div class="col-md-10">
		<div class="row">
			<div class="list-group">
				<a href="/repo/{{item.name}}" class="list-group-item" ng-repeat="item in items">
					<h4 class="list-group-item-heading">{{item.name}}</h4>
					<p class="list-group-item-text">
						<span ng-if="item.ingestion_date.length > 0">Last Ingested: {{item.ingestion_date}}</span><span ng-if="item.analysis_date.length > 0">, Last Analyzed: {{item.analysis_date}}</span>
					</p>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Global Stats</h3>
			</div>
			<div class="panel-body">
			<h2>{{items.length}}</h2>
			total repositories
			</div>
		</div>
	</div>
</div>
