<div id="content" class="container">
<div class="row">
  <div class="col-md-6">
  <h1>Admin Panel</h1>
    <ul class="list-group">
    <li class="list-group-item">X New Drink Machine</li>
    <li class="list-group-item">X Create new Subcomitee</li>
    <li class="list-group-item">X Freshman Project</li>
    <li class="list-group-item">X Test Vote 1</li>
    <li class="list-group-item">X Test Vote 2</li>
  </ul>
  </div>
  <div class="col-md-6">
  </div>
</div>
</div>
