<!DOCTYPE html>
<html>
<head>
<title>Commit Guru</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href='//fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
<link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/js/bootstrap.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script>
	window.APP_PORT = <%=sails.config.port%>;
</script>
<script src="/js/modules/socket.io.js"></script>
<script src="/js/modules/sails.js"></script>
<script src="/js/modules/angles.js"></script>
<script src="/js/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/js/modules/cg.js"></script>
<link rel="stylesheet" href="/styles/app.css">

<script>
	if(navigator.userAgent.match(/IEMobile\/10\.0/)) {
		var msViewportStyle = document.createElement("style")
		msViewportStyle.appendChild(document
				.createTextNode("@-ms-viewport{width:auto!important}"))
		document.getElementsByTagName("head")[0].appendChild(msViewportStyle)
	}
</script>
</head>

<body ng-app="cg" ng-controller="AppController">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavbarController">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-click="collapse = !collapse">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="home" ng-click="collapse = 0"><span class="fa fa-code-fork fa-flip-vertical"></span> Commit Guru</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse" ng-class="{in: collapse}">
				<ul class="nav navbar-nav">
					<li ng-class="{ active: currentPage('/')}">
						<a ui-sref="home" ng-click="collapse = 0"><i class="fa fa-home"></i> Home</a>
					</li>
					<li ng-class="{ active: (currentPage('/repos')|| currentPage('/repo'))}">
						<a ui-sref="repos" ng-click="collapse = 0"><i class="fa fa-archive"></i> Repos</a>
					</li>
					<li ng-class="{ active: currentPage('/about')}">
						<a ui-sref="about" ng-click="collapse = 0"><i class="fa fa-info-circle"></i> About</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.status.authenticated?user.object.email:"Sign In"}}<b class="caret"></b></a>
						<ul class="dropdown-menu" ng-switch="user.status.authenticated">
							<li ng-switch-when="false">
								<form class="container-fluid form-horizontal dropdown-form" name="signinForm" role="form" ng-submit="user.signIn()">
									<div class="form-group" ng-class="{'has-error': signinForm.email.$dirty && signinForm.email.$invalid}">
										<label for="signin_Email" class="sr-only">Email</label>
										<input required ng-model="user.signInFields.email" type="email" class="form-control" id="signin_Email" name="email" placeholder="Email">
									</div>
									<div class="form-group" ng-class="{'has-error': signinForm.password.$dirty && signinForm.password.$invalid}">
										<label for="signin_Password" class="sr-only">Password</label>
										<input required type="password" ng-model="user.signInFields.password" class="form-control" ng-minlength="6" id="signin_Password" name="password" placeholder="Password">
									</div>
									<div class="form-group">
										<button type="submit" ng-disabled="signInForm.$invalid" class="btn btn-primary btn-block">Sign in</button>
									</div>
								</form>
							</li>
							<li ng-switch-when="true">
								<a href="#" ng-click="user.signOut()">Sign Out</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container animate-fade" ng-if="loading">
		<div class="globalLoading">
			<div>
				<span>
					<i class="fa fa-spin fa-refresh"></i> Loading...
				</span>
			</div>
		</div>
	</div>
	<div id="content">
		<div id="messages" ng-class="{showMessages: globalMessages.count() > 0}">
			<div class="animate-repeat" ng-repeat="message in globalMessages.get()" ng-click="message.hold = true">
				<div class="alert alert-{{message.type}} alert-dismissable">
					<div class="container">
						<button type="button" class="close" ng-click="globalMessages.remove($index)">&times;</button>
						{{message.content}}
					</div>
				</div>
			</div>
		</div>
		<div ui-view autoscroll="false" class="animate-fade"></div>
	</div>
</body>
</html>
