<!DOCTYPE html>
<html>
  <head>
    <title>Commit Analyzing Service</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='//fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js"></script>
   <!--SCRIPTS-->
   <script src="/linker/js/socket.io.js"></script>
   <script src="/linker/js/sails.io.js"></script>
   <script src="/linker/js/app.js"></script>
   <script src="/linker/js/angular-route.js"></script>
   <!--SCRIPTS END-->

<!--STYLES-->
<link rel="stylesheet" href="/linker/styles/app.css">
<!--STYLES END-->

<!--TEMPLATES-->

<!--TEMPLATES END-->
   
    <script>
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style")
  msViewportStyle.appendChild(
    document.createTextNode(
      "@-ms-viewport{width:auto!important}"
    )
  )
  document.getElementsByTagName("head")[0].appendChild(msViewportStyle)
}
    </script>
  </head>

  <body ng-app="casweb" ng-controller="AppCtrl">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl">
  <div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" ng-click="collapse = !collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/" ng-click="collapse = 0"><span class="glyphicon glyphicon-flag"></span> CAS</a>
	  </div>
	
	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse" ng-class="{in: collapse}">
	    <ul class="nav navbar-nav">
	      <li ng-class="{ active: currentPage('/')}"><a href="/" ng-click="collapse = 0"><b class="glyphicon  glyphicon-home"></b> Home</a></li>
	      <li ng-class="{ active: currentPage('/repo')}"><a href="/repo" ng-click="collapse = 0"><b class="glyphicon glyphicon-asterisk"></b> Repos</a></li>
	    </ul>
	  </div>
  </div>
</nav>
	<div ng-View id="mainView">
	</div>
	 <script type="text/ng-template" id="repository.html">
	<div id="content" class="container">
		<div ng-switch="loaded">
			<div ng-switch-when="true">
				<div class="row">
					<div class="col-md-8">
						<h1>{{repo.name}}</h1>
					</div>
					<div class="col-md-4">
						<form role="form" class="">
							<div class="form-group">
								<input type="text" style="margin-top: 20px;"
									class="form-control" ng-model="search"
									placeholder="Filter commits">
							</div>
						</form>
					</div>
				</div>
				<pre>{{repo.metrics | json}}</pre>
				<div class="row" ng-if="repo.commits.length > 0">
					<div class="col-md-12">
						<div ng-repeat="commit in repo.commits | filter:search">
							<div class="panel panel-success" ng-class="{'panel-danger':commit.contains_bug}">
								<div class="panel-heading">
									<div class="pull-right">{{commit.author_name}} on {{commit.author_date}}</div>
									<h3 class="panel-title">{{commit.commit_hash}}</h3>
								</div>
								<div class="panel-body">
									<h4>
<div class="row">
<div class="col-md-2" metric="commit.lt">
Lines
</div>
<div class="col-md-2" metric="commit.la">
Lines Added
</div>
<div class="col-md-2" metric="commit.ld">
Lines Deleted
</div>
<div class="col-md-2" metric="commit.nuc">
# of unique changes
</div>
<div class="col-md-2" metric="commit.age">
Relative Age
</div>
<div class="col-md-2" metric="commit.ndev">
# of Devs
</div>
</div>
									</h4>
									<button class="btn btn-primary" ng-click="show_commit_message = !show_commit_message" type="button">Show Message</button>
									<div ng-if="show_commit_message">{{commit.commit_message}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="repo.commits.length == 0">
					<div class="col-md-12">
						<div class="panel panel-warning">
							<div class="panel-heading">
								<h3 class="panel-title">Repository scheduled to be analyzed</h3>
							</div>
							<div class="panel-body">
								Please wait for the repository to be analyzed. This may take up to 5 minutes.
							</div>
						</div>
					</div>
				</div>
			</div>
			<h1 ng-switch-when="false">Repository Loading...</h1>
		</div>
	</div>

	</script>
    </body>
</html>
