@import "../../bootstrap/less/custom-bootstrap.less";

#content {
	margin-top: 50px;
}

#messages {
	padding-top:25px;
	position: fixed;
	left:0;
	right:0;
	z-index: 1000;
}

#messages > .alert {
	//box-shadow: 0px 0px 10px #777 !important;
	border-width:3px !important;
}

.center {
	text-align:center;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


#repo_url_group {
	@media screen and (min-width: @screen-md) {
		width: 40%;
	}
}
div[metric] {
	text-align:center;
	margin-bottom:10px;
}

div[metric] .alert {
	display:inline-block;
}

.inline-col {
	display: inline-block;
	vertical-align:top;
	float:none;
}

