@import "../../bootstrap/less/custom-bootstrap.less";

#content {
	margin-top: 50px;
}

#messages {
	padding-top:25px;
	position: fixed;
	left:0;
	right:0;
	z-index: 1000;
}

.alert {
	border-width:3px !important;
}

.animate-repeat.ng-move , .animate-repeat.ng-enter , .animate-repeat.ng-leave {
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.animate-repeat.ng-leave.ng-leave-active , .animate-repeat.ng-move , .animate-repeat.ng-enter {
	opacity: 0;
	max-height: 0;
}

.animate-repeat.ng-leave , .animate-repeat.ng-move.ng-move-active , .animate-repeat.ng-enter.ng-enter-active {
	opacity: 1;
	max-height: 80px;
}

.animate-fade.ng-move , .animate-fade.ng-enter , .animate-fade.ng-leave {
	-webkit-transition: opacity linear 0.3s;
	transition: opacity linear 0.3s;
}

.animate-fade.ng-leave.ng-leave-active , .animate-fade.ng-move , .animate-fade.ng-enter {
	opacity: 0;
}

.animate-fade.ng-leave , .animate-fade.ng-move.ng-move-active , .animate-fade.ng-enter.ng-enter-active {
	opacity: 1;
}

.center {
	text-align:center;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


#repo_url_group {
	@media screen and (min-width: @screen-md) {
		width: 40%;
	}
}
div[metric] {
	text-align:center;
	margin-bottom:10px;
}

div[metric] .alert {
	display:inline-block;
}

.inline-col {
	display: inline-block;
	vertical-align:top;
	float:none;
}

