
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, width=500px">



<div class="menu btn-group background-color-1 full-width">
    <div class="table-cell">
        <div class="btn btn-large background-color-hover-000"><i class="icon-home"></i></div>
    </div>
    <div class="table-cell full-width">
        <div class="btn btn-large full-width">Quorum</div>
    </div>
    <div class="table-cell">
        <div id="dlabel" data-toggle="dropdown" class="btn btn-small background-color-hover-000 three-white-bars"></div>
    </div>

</div>
<div class="callout">
    <h4 class="dark-text">Current CSH Votes</h4>
    <span class="radio-wrapper vote_box">
	    <input name="radio-group" id="radio-1" type="radio">
	    <label for="radio-1"></label> <span>Yay</span> <br>
	
	    <input name="radio-group" id="radio-2" checked="" type="radio">
	    <label for="radio-2"></label> <span>Nay</span><br>
	    
	    <input name="radio-group" id="radio-3" checked="" type="radio">
	    <label for="radio-3"></label> <span>Abstain</span><br>
	</span>
</div>
