<div ng-switch="loaded">
	<div ng-switch-when="true">
		<div class="row">
			<div class="col-md-8">
				<h2>{{repo.name}}</h2>
			</div>
			<div class="col-md-4">
				<p></p>
				<span ng-if="repo.ingestion_date.length > 0">Last Ingested: {{repo.ingestion_date}}</span><span ng-if="repo.analysis_date.length > 0"><br>Last Analyzed: {{repo.analysis_date}}</span>

			</div>
		</div>
		<pre ng-if="debug">{{repo.metrics | json}}</pre>
		<div class="row" ng-show="showRepo">
			<div class="col-md-4">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="search.fulltext" placeholder="Filter commits">
				</div>
			</div>
			<div class="col-md-8">
				<div class="pull-right">
					<div class="form-group">
						<button ng-click="debug = !debug" class="btn btn-danger">Toggle Debug</button>
						<button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
						{{currentPage+1}}/{{numberOfPages()}}
						<button class="btn btn-default" ng-disabled="currentPage >= commits.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-show="showRepo">
			<div class="col-md-12">
				
				<div ng-repeat="commit in commits | startFrom:currentPage*pageSize | limitTo:pageSize">
					<div class="panel panel-default" ng-class="{'panel-danger':commit.contains_bug}">
						<div class="panel-heading">
							<div class="pull-right">{{commit.author_name}} on {{commit.author_date}}</div>
							<h3 class="panel-title">
								<span ng-if="commit.contains_bug">Possible Bug-inducing: </span>{{commit.commit_hash}}
							</h3>
						</div>
						<div class="panel-body">
							<h4>
								<div class="row">
									<div ng-repeat="(key, display) in metricValues" class="inline-col col-md-2" metric="commit[key]">{{display}}</div>
								</div>
							</h4>
							<form class="form-inline pull-right" name="commit.feedback" ng-submit="submitFeedback(commit)">
								<div class="form-group">	
									<input type="text" class="form-control" ng-model="commit.feedback.comment" placeholder="Was this helpful?">
								</div>
								<div class="form-group">
									<div class="btn-group">
										<input type="hidden" class="form-control" required ng-model="commit.feedback.score">
										<button type="button" class="btn btn-default" ng-click="commit.feedback.score = 1" ng-class="{'btn-success':commit.feedback.score > 0}"><i class="fa fa-thumbs-up"></i></button>
										<button type="button" class="btn btn-default" ng-click="commit.feedback.score = -1" ng-class="{'btn-danger':commit.feedback.score < 0}"><i class="fa fa-thumbs-down"></i></button>
									</div>
								</div>
								<div class="form-group">	
									<button class="btn btn-primary" type="submit">Submit Feedback</button>
								</div>
							</form>
							<div class="form-group">
								<button class="btn btn-primary" ng-click="show_commit_message = !show_commit_message" type="button">Toggle Message</button>
								<button class="btn btn-default" ng-click="show_commit_diff = !show_commit_diff" type="button">Toggle Diff</button>
							</div>
							<div class="well" ng-if="show_commit_message">{{commit.commit_message}}</div>
							<div class="well" ng-if="show_commit_diff">
								<i>Not Implimented Yet.</i>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="commits.length == 0">
					<div class="alert alert-warning">No Results</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">Repository status: {{repo.status}} <i class="fa fa-refresh fa-spin" ng-show="repo.status != 'Analyzed'"></i></h3>
					</div>
					<div class="panel-body" ng-switch="repo.status">
					<span ng-switch-when="Waiting to be Ingested">
						The repository is scheduled to be ingested into the system.
					</span>
					<span ng-switch-when="Ingesting">
						The repository is currently being ingested into the system.
					</span>
					<span ng-switch-when="Waiting to be Analyzed">
						The repository was successfully ingested into the system and it is now waiting for analysis.
					</span>
					<span ng-switch-when="Analyzing">
						The repository is currently being analyzed by the system.
					</span>
					<span ng-switch-when="Analyzed">
						The repository has been successfully analyzed by the system. It will be updated every day from now on.
					</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Add a notification email</h3>
					</div>
					<div class="panel-body">
						<p>Want to get notified when your repository is ready to view?<br><br><strong>Yes?</strong> Then just add your email address below and you will get an email whenever your repository is analyzed.</p>
						<form name="updateEmailForm" class="form-horizontal" novalidate ng-submit="updateEmail()">
							<div class="form-group" ng-class="{'has-error':updateEmailForm.email.$dirty && updateEmailForm.email.$invalid}">
								<label for="repo-email" class="col-sm-2 control-label">Email</label>
								<div class="col-sm-10">
									<input type="email" name="email" ng-model="repo.email" class="form-control" id="repo-email" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-default" ng-disabled="updateEmailForm.email.$error.email || updateEmailForm.email.$error.required">Save Email</button>
								</div>
							</div>
						</form>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<div class="alert alert-info center" style="margin-top:25px;" ng-switch-when="false">Repository Loading...</div>
</div>